---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="À propos | Théotime Mamou " description="Découvrez mon parcours, mes compétences et ma vision du développement.">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="À propos"
				tagline="Merci de votre visite ! Découvrez ci-dessous mon parcours et apprenez-en plus sur moi."
			>

			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Passionné par l'informatique et les sciences, j’ai acquis de l’expérience en développement logiciel et en analyse de données à travers mes études et mes projets personnels.
					</p>
					<p>
						Mon parcours m'a permis de travailler sur des projets alliant programmation, gestion de systèmes, sécurité informatique mais aussi physique et mathématiques, à chaque fois au travers de divers environnements et méthodologies.
					</p>
					<p>
						Que ce soit en autonomie ou en équipe, j'aime relever des défis techniques et approfondir ma compréhension des systèmes complexes pour proposer des solutions efficaces et innovantes.
					</p>
				</div>
			</section>
			
			<section>
				<h2 class="section-title">Éducation</h2>
				<div class="content">
					<ul>
						<li><strong>Double Diplomation</strong> – Baccalauréat en Informatique, concentration Cybersécurité défensive (UQAC - Canada) et 1ère année de cycle ingénieur (ESIEA - France)</li>
						<li><strong>Ingénierie Informatique</strong> – ESIEA</li>
						<li><strong>Double license mathématique et physique</strong> – Paris Saclay</li>
					</ul>
				</div>
			</section>
			
			<section>
				<h2 class="section-title">Compétences</h2>
				<div class="content">
					<ul>
						<li><strong>Développement</strong> : Python, C/C++, Flask, Azure, Docker</li>
						<li><strong>Gestion de projet</strong> : Méthodologies Agile, Kanban et Scrum</li>
						<li><strong>Analyse et recherche</strong> : Lecture et synthèse de documents techniques, raisonnement scientifique avancé, esprit critique</li>
						<li><strong>Gestion des priorités</strong> : Organisation des tâches, adaptation aux contraintes, prise de décision</li>
					</ul>
				</div>
			</section>
			
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
