---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Vision projet</h2>
		<p>Avec plusieurs projets à mon actif, j’ai développé une solide expérience du travail en équipe. J’aime particulièrement cette approche, car elle permet de surpasser la théorie en produisant des résultats concrets mais surtout utiles.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="glass" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Analyse</h2>
		<p>L’analyse est l’aspect d’un projet que je maîtrise le mieux : explorer des documents complexes, en extraire les informations essentielles et dégager des pistes stratégiques pour orienter le projet.</p>

	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="fingerprint" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Apprentissage en cybersécurité</h2>
		<p>Actuellement en double diplomation au Canada afin d'obtenir un baccalauréat informatique concentration cybersécurité défensive (équivalent bac+3)</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
